<h1>피부과 실습 평가</h1>
<br>
1번 문항
<br>
More Bad : <%=@item_1.count(1)%>
<br>
Bad : <%=@item_1.count(2)%>
<br>
Normal : <%=@item_1.count(3)%>
<br>
Good : <%=@item_1.count(4)%>
<br>
More Good : <%=@item_1.count(5)%>
<br>
<br>
2번 문항
<br>
More Bad : <%=@item_2.count(1)%>
<br>
Bad : <%=@item_2.count(2)%>
<br>
Normal : <%=@item_2.count(3)%>
<br>
Good : <%=@item_2.count(4)%>
<br>
More Good : <%=@item_2.count(5)%>
<br>
<br>
3번 문항
<br>
More Bad : <%=@item_3.count(1)%>
<br>
Bad : <%=@item_3.count(2)%>
<br>
Normal : <%=@item_3.count(3)%>
<br>
Good : <%=@item_3.count(4)%>
<br>
More Good : <%=@item_3.count(5)%>
<br>
<br>
4번 문항
<br>
More Bad : <%=@item_4.count(1)%>
<br>
Bad : <%=@item_4.count(2)%>
<br>
Normal : <%=@item_4.count(3)%>
<br>
Good : <%=@item_4.count(4)%>
<br>
More Good : <%=@item_4.count(5)%>
<br>
<br>
5번 문항
<br>
More Bad : <%=@item_5.count(1)%>
<br>
Bad : <%=@item_5.count(2)%>
<br>
Normal : <%=@item_5.count(3)%>
<br>
Good : <%=@item_5.count(4)%>
<br>
More Good : <%=@item_5.count(5)%>
<br>
<br>
6번 문항
<br>
More Bad : <%=@item_6.count(1)%>
<br>
Bad : <%=@item_6.count(2)%>
<br>
Normal : <%=@item_6.count(3)%>
<br>
Good : <%=@item_6.count(4)%>
<br>
More Good : <%=@item_6.count(5)%>
<br>
<br>
7번 문항
<br>
More Bad : <%=@item_7.count(1)%>
<br>
Bad : <%=@item_7.count(2)%>
<br>
Normal : <%=@item_7.count(3)%>
<br>
Good : <%=@item_7.count(4)%>
<br>
More Good : <%=@item_7.count(5)%>
<br>
<br>
8번 문항
<br>
More Bad : <%=@item_8.count(1)%>
<br>
Bad : <%=@item_8.count(2)%>
<br>
Normal : <%=@item_8.count(3)%>
<br>
Good : <%=@item_8.count(4)%>
<br>
More Good : <%=@item_8.count(5)%>
<br>
<br>
